*{
    font-family:Arial, Helvetica, sans-serif;
}

.headerContainer{
    background-color: #1f2937;
    padding: 0px 200px 0px 200px;
    /* height: 500px; */
    /* text-align: center; */
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
}

.headerNavBar{
    display: flex;
    /* justify-content: space-evenly; */
    gap: 0 3rem;
}

.headerContainer2{
    background-color: #1f2937;
    /* margin: 150px 0px 0px 0px; */
    padding: 150px 200px 0px 200px;
    height: 700px;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
}

.headerContainer2 img{
    height: 700px;
}

.bodyHeading{
    background-color: cadetblue;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.portfolioContainer {
    background-color: cadetblue;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 5rem;
}

.placeholderImg{
    width: 200px;
    height: 200px;
    border: 4px solid #3882f6;
    background: skyblue;
    /* justify-content: space-around; */
    border-radius: 25px;
}

.placeholderImg img{
    width: 200px;
    border-radius: 20px 20px 0 0;
}