*{
    font-family:Arial, Helvetica, sans-serif;
}

.headerContainer{
    background-color: #1f2937;
    height: 500px;
    text-align: center;
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.bodyHeading{
    background-color: cadetblue;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.portfolioContainer {
    /*background-color: cadetblue;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;*/

    background-color: cadetblue;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.placeholderImg{
    width: 200px;
    height: 200px;
    border: 4px solid #3882f6;
    background: skyblue;
    justify-content: space-around;
}

.placeholderImg img{
    width: 200px;
}